.billboard {
  background: linear-gradient(102deg, rgba(34,68,9,0.7987570028011204) 0%, rgba(119,191,67,0.6867121848739496) 100%), url('/images/aboutus.jpg');
  background-position: 10% 20%;
  background-size: 1350px 1080px;
}

.about-us {
  display: block;
}

.small-heading {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  font-weight: bold; 
}


.high-lighted_text {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: var(--green);
  text-align: center;
  margin: .5rem 0;
}


  
 