.bg {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.dropdown {
  position: relative;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid var(--green);
  float: right;
}

.dropbtn {
    position: relative;
    background-color: var(--green);
    color: white;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    width: 263px;
    border: none;
    cursor: pointer;
    outline: none;
}

.arrow-down {
  position: absolute;
  top: 1.45rem;
  left: 1rem;
  right: 0;
  padding-top: 0rem;
  margin: 0 0;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid white; 
}

  
  /*.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }*/
  
  #myInput {
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  .fa-search {
    height: 100%;
    color: black;
    vertical-align: middle;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
   
  [type=submit] {
    position: absolute;
    border: none;
    height: 2.8rem;
    width: 2.5rem;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 230px;
    max-width: 265px;
    /*width: 265px;*/
    background-color: var(--green);
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

@media only screen and (max-device-width: 1000px) { 
  .arrow-down {
      position: absolute;
      top: 1.4rem;
      left: 1.5rem;
      right: 0;
      padding-top: 0rem;
      margin: 0 0;
      width: 0; 
      height: 0; 
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      border-top: 16px solid white; 
  }
  [type=submit] {
    position: absolute;
    border: none;
    height: 3.3rem;
  }
}
