header {
    top: 0;
}

.billboard {
    height: 20vh;
}
.blog--image {
    width: 100%;
    text-align: center;
    margin-top: 2.8rem;
}

.blog--image img {
    width: 100%;
}

@media only screen and (max-device-width: 1000px) { 
    .billboard {
        height: 15vh;
    }
    
    .blog--image {
        height: 80vh;
    }
}